/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Microsoft Jhenghei, Heiti TC, Source Han Sans, Arial, sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Supporting marketing content */
.marketing {
  margin: 20px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* time div */

#time_div {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	line-height: 74px;
}

/* schedule divs */

p {
	margin: 0px;
}

.normal_p {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 20px;
	line-height: 35px;
}

.big_p {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 45px;
	line-height: 55px;
	font-weight: bold;
}

.small_p {
	font-size: 15px;
	line-height: 15px;
}

.dir_text_div{
	font-size: 40px;
	line-height: 60px;
	padding-left: 10px;
	font-weight: bold;
	border-bottom-right-radius: 90px;
}

.time_close {
	color: #FF0000;
}

/* justify */

.fulljustify {
  text-align: justify;
  text-justify: inter-word;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}